<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.maphdev.triviapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_triviapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_triviapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SignUpActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SignInActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.QuizActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <receiver android:name=".widget.QuizWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quiz_widget_info" />
        </receiver>

        <service android:name=".widget.RetrieveDataService"/>
    </application>

</manifest>